body {
    font-size: 16px;
    font-family: "INGMeWeb-Regular", Arial, sans-serif;
    color: #1f1f1f;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-weight: normal;
    line-height: 1.25;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 5px 0;
    font-size: 15px;
    color: #1f1f1f;
}

.clear {
    clear: both;
}

.main-container {
    width: 90%;
    margin: auto;
    min-height: 600px;
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.main-container.ajax-poc {
    width: 80%;
}

.main-title {
    color: #ff6200;
    font-size: 20px;
    margin: 25px 0 5px 0;
}

.secondary-title {
    color: #ff6200;
    font-size: 16px;
    margin: 25px 0 5px 0;
}

.horizontal-section-container {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
}

figure img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 6px;
}

h3 {
    margin-bottom: 3px;
    color: #ff6200;
    font-size: 20px;
    line-height: 25px;
}

ul.demos {
    list-style-type: none;
    margin: 20px 0;
}

ul.demos li {
    display: inline-block;
    margin: 10px;
}

ul.demos li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6200;
    border: 1px solid #ff6200;
    border-radius: 6px;
    color: #fff;
    font-size: 1em;
}

.list {
    background: #f0f0f0;
    padding: 10px;
    margin: 2px;
}