<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="board-members">
  <template>
  <style>
    .three-col {
        font-size: 15px;
        width: 70%;
        margin: 0 auto;
    }
    .three-col h1{
          margin: 20px;
          color: #ff6200;
    }
    .article-excerpt {
        font-size: 15px;
        line-height: 23px;
    }
    .three-col .col {
        margin-bottom: 20px;
    }
    .three-col .col {
        min-width: 220px;
        width: 20%;
        margin-left: 20px;
        float: left;
    }
    .three-col .col:nth-of-type(3n + 1) {
        clear: left;
    }
    .article-excerpt .link-wrapper {
        width: 100%;
        color: inherit;
        display: block;
        box-sizing: content-box;
        text-decoration: none;
        height: auto;
    }
    .article-excerpt figure {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-radius: 6px;
    }
    .profile figure {
        width: 220px;
        position: relative;
        overflow: hidden;
    }
    .three-col .article-excerpt figure + div, .three-col .article-excerpt figure {
        margin-top: 20px;
        line-height: 20px;
    }
    .article-excerpt.col .link-wrapper figure {
        width: 220px;
        max-width: 220px;
        height: 165px;
    }
    .profile figure img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .three-col h2 {
        color: #ff6200;
        font-size: 20px;
        margin:10px 0
    }
    .clear{
      clear: both;
    }
  </style>
  <div class="three-col">
    <h1>Members Supervisory Board</h1>
    <template is="dom-repeat" items={{members}}>
      <section class="col profile article-excerpt newrow">
        <a class="link-wrapper" href="javascript:void(0)">
            <figure>
              <img src="{{item.src}}" alt="{{item.name}} Photo" class="photo">
            </figure>
          <h2 class="secondary-title">{{item.name}}</h2>
          <p>{{item.title}}</p>
        </a>
      </section>
    </template>
    <div class="clear"></div>
  </div>
  </template>
<script>
Polymer({
  is: 'board-members',
  ready:function(){
    this.members = [
      {
        name:'J. (Jeroen) van der Veer',
        title:'Chairman Supervisory Board  (1947, Nationality: Dutch)',
        src:'https://www.ing.com/upload_mm/c/1/2/cid38169_Jeroen-van-der-Veer.png'
      },{
        name:'H.J.M. (Hermann-Josef) Lamberti',
        title:'Member and vice-chairman Supervisory Board  (1956, Nationality: German)',
        src:'https://www.ing.com/upload_mm/7/8/7/cid37235_Hermann-Josef-Lamberti.png'
      },{
        name:'E.F.C.B. (Eric) Boyer de la Giroday',
        title:'Member Supervisory Board  (1952, Nationality: Belgian)',
        src:'https://www.ing.com/upload_mm/1/0/a/cid37225_Eric-Boyer-de-la-Giroday.png'
      },{
        name:'H.W. (Henk) Breukink',
        title:'Member Supervisory Board  (1950, Nationality: Dutch)',
        src:'https://www.ing.com/upload_mm/e/b/c/cid37233_Henk-Breukink.png'
      },{
        name:'I. (Isabel) Martín Castellá',
        title:'Member Supervisory Board  (1947, Nationality: Spanish)',
        src:'https://www.ing.com/upload_mm/6/4/1/cid37231_Isabel-Martin-Castella.png'
      },{
        name:'M. (Mariana) Gheorghe',
        title:'Member Supervisory Board  (1956, Nationality: Romanian  and British)',
        src:'https://www.ing.com/upload_mm/0/9/1/cid37437_Mariana-Gheorghe.png'
      },{
        name:'A.C. (Ann) Sherry',
        title:'Member Supervisory Board  (1954, Nationality: Australian)',
        src:'https://www.ing.com/upload_mm/2/2/a/cid37253_Ann-Sherry.png'
      },{
        name:'R.W.P. (Robert) Reibestein',
        title:'Member Supervisory Board  (1956, Nationality: Dutch)',
        src:'https://www.ing.com/upload_mm/6/2/4/cid37439_Robert-Reibestein.png'
      }
    ]
  }

});
</script>
</dom-module>


























